html,body{
}
td{
font-family:Arial, sans-serif;
font-size:8pt;
color:#63382D;
}
.mnbdy{
background-color:#FBF5F3;
overflow:auto;
padding:2px;margin:0px;
}
.fmbdy{
background-color:#FBF5F3;
padding:2px;margin:0px;
}
A:link{
text-decoration:none;
color:#AA0004;
}
A:visited{
text-decoration:none;
color:#AA0004;
}
A:active{
text-decoration:underline;
color:#000000;
}
A:hover{
text-decoration:underline;
color:#000000;
}
.hbtbl{
table-layout:fixed;
word-wrap:break-word;
overflow:hidden;
}
.stxt{
background-color:#FBF5F3;
color:#63382D;
}
.stxt2{
background-color:#EDDEDB;
color:#63382D;
}
.dtxt{
color:#B69088;
font-size:7pt;
text-align:right;
}
.dtxt2{
color:#B69088;
font-size:7pt;
text-align:right;
}
.cfrm{
margin-bottom:0px;
}
.frmtb{
padding-left:3px;
padding-right:3px;
font-family:Arial, sans-serif;
font-size:8pt;
background-color:#EDDEDB;
border:#63382D 1px solid;
color:#63382D;
margin: 1px 2px 1px 2px;
}
.frmbtn{
font-family:Arial, sans-serif;
font-size:8pt;
background-color:#B69088;
border:#63382D 1px solid;
color:#63382D;
font-weight:bold;
padding-left:3px;
padding-right:3px;
vertical-align:top;
margin: 2px 2px 2px 2px;
}
.lnk{
color:#AA0004;
}
.pic{
width:45px;
height:45px;
margin-left:-2px;
margin-right:0px;
padding-right:2px;
float:left;
}
